## Embodied Carbon - The Inventory of Carbon & Energy (ICE) Database

The Inventory of Carbon and Energy (also know as the ICE database) is an embodied carbon database for building materials which is available for free on the [circularecology.com](https://circularecology.com/embodied-carbon-footprint-database.html) website.

Author: Dr. Craig Jones,  University of Bath

The ICE Database is available online to download in Excel spreadsheet format, this Jupyter Notebook has been used to review & clean the ICE Database Machine Readable V3.0 Beta – 10 Nov 2019 version.

In [1]:
import pandas as pd
# read excel spreadsheet as Pandas DataFrame
df = pd.read_excel("iceDB2.xlsx", sheet_name = "ICE_DB", index_col = 0, header=1)

In [2]:
# Drop all columns with contain NaN values
df.dropna(axis='columns', inplace=True)

In [3]:
# Drop quality variables
cols = [7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
df.drop(df.columns[cols], axis=1, inplace=True)

In [4]:
# Drop comments column
df.drop(columns=['Comments', 'Quantity of declared unit', 'Units of declared unit'], axis=1, inplace=True)

In [5]:
# Output of cleaned up Dataset
df

,Material,ICE DB Name,Density of material - kg per m3,Embodied Carbon (kg CO2e per declared unit)
Unique ID,,,,
52bdfeb3-979f-4fcd-b4eb-6ffbda643c52,AggregateSand,"Aggregates and sand, general UK, mixture of la...",1600,0.007470
c47ba144-190c-4ed7-84c1-423159f8af34,AggregateSand,"Aggregates and sand, general, virgin mixture o...",1600,0.004928
238416cd-fce6-47b5-9c5a-4146d4067406,AggregateSand,"Aggregates and sand, from virgin land won reso...",1600,0.004384
64214af1-a2d1-4b7b-acf3-137de42de2b6,AggregateSand,"Aggregates and sand, from virgin marine resour...",1600,0.009038
2d8e1110-577f-4b24-9276-6a0b9140036a,AggregateSand,"Aggregates and sand, from recycled resources, ...",1600,0.006095
...,...,...,...,...
6cecc9f8-ee3c-463b-84e1-7ddfd1ff9350,Timber,"Timber, Particle Board - Including Carbon Storage",686.846,-0.814999
af10b61e-65e9-477e-a8ac-1ed0291d5058,Timber,"Timber, Plywood - Including Carbon Storage",507.502,-0.933068
94bbaccb-a57a-4de5-b4b7-dcecca73675c,Timber,"Timber, Softwood - Including Carbon Storage",538.286,-1.291861
3d842507-a29d-4b6c-8f93-35726b579419,Timber,"Timber, Wood I-Beam - Including Carbon Storage",Unknown,-1.049938
c343a86d-f929-4ddb-b296-341cefb53e39,Timber,"Timber, Wood-plastic composite - Including Car...",825,0.580000

In [6]:
# remove Unique ID index column 
df.reset_index(drop=True, inplace=True)

In [7]:
# Rename DataFrame index columns as 'ID'
df.index.name = 'ID'

In [8]:
# Rename DataFrame Columns
df.rename(columns={'ICE DB Name': 'Name', 'Density of material - kg per m3': 'Density', 'Embodied Carbon (kg CO2e per declared unit)':'Embodied Carbon'}, inplace=True)

In [9]:
# Drop DataFrame rows where the material density is unknown
df.drop(df[df['Density'] == 'Unknown'].index, axis=0, inplace=True)

In [10]:
# Drop DataFrame rows where the material density = 0
df.drop(df[df['Density'] == 0].index, axis=0, inplace=True)

In [11]:
# check DataFrame data types
df.dtypes

Material            object
Name                object
Density             object
Embodied Carbon    float64
dtype: object

In [12]:
# update density data to float values
df.Density = df.Density.astype(float)

In [13]:
# confirm update
df.dtypes

Material            object
Name                object
Density            float64
Embodied Carbon    float64
dtype: object

In [14]:
# output summary of DataFrame numerical data
df.describe()

           Density  Embodied Carbon
count   525.000000       525.000000
mean   2298.355041       124.037140
std    1185.912721       128.281544
min     506.500000        -1.291861
25%    2008.456660         2.438107
50%    2380.000000        80.251538
75%    2390.000000       230.347152
max    7850.000000       497.008484

In [15]:
# Drop Name Column
df.drop(df.columns[1], axis=1, inplace=True)

In [16]:
df

          Material      Density  Embodied Carbon
ID
0    AggregateSand  1600.000000         0.007470
1    AggregateSand  1600.000000         0.004928
2    AggregateSand  1600.000000         0.004384
3    AggregateSand  1600.000000         0.009038
4    AggregateSand  1600.000000         0.006095
..             ...          ...              ...
525         Timber   599.502500        -0.813017
526         Timber   686.846154        -0.814999
527         Timber   507.501799        -0.933068
528         Timber   538.286426        -1.291861
530         Timber   825.000000         0.580000

[525 rows x 3 columns]

In [17]:
# Reduce size of dataset by grouping by Material & getting the mean values
df.groupby('Material').mean()

                   Density  Embodied Carbon
Material
AggregateSand  1600.000000         0.089903
Aluminium      2750.000000        11.265385
Asphalt        2350.000000        34.703415
Bitumen        1050.000000         0.246272
Cement         1619.565217         0.621263
Clay           1876.391732        51.531987
Concrete       2249.340766       198.864596
Glass          2500.000000         2.195914
Steel          7850.000000         2.375000
Timber          634.348004        -0.137008
aluminium      2750.000000         6.851861
glass          2500.000000        44.720470

In [18]:
# Keep material naming consistent
df['Material'].replace({'aluminium':'Aluminium', 'glass':'Glass'}, inplace=True)

In [19]:
df_means = df.groupby('Material').mean()

In [20]:
df_means

                   Density  Embodied Carbon
Material
AggregateSand  1600.000000         0.089903
Aluminium      2750.000000        10.214546
Asphalt        2350.000000        34.703415
Bitumen        1050.000000         0.246272
Cement         1619.565217         0.621263
Clay           1876.391732        51.531987
Concrete       2249.340766       198.864596
Glass          2500.000000        38.767032
Steel          7850.000000         2.375000
Timber          634.348004        -0.137008

In [21]:
df_means['Material'] = df_means.index

In [22]:
# remove Unique ID index column 
df_means.reset_index(drop=True, inplace=True)

In [23]:
df_means = df_means[['Material', 'Density', 'Embodied Carbon']]

In [24]:
# Rename DataFrame index columns as 'ID'
df_means.index.name = 'ID'

In [25]:
# Output cleaned up dataset as CSV file (index column 'ID' is included)
df_means.to_csv("iceDB2.csv", encoding='utf-8', index=True)

### END